@if (!ready()) {
    <span class="recipe__loading">
        Loading recipe list...
    </span>
} @else {
    <div class="{{$class}}__search">
        <input type="text"
            [(ngModel)]="searchTerm"
            placeholder="Search"
        />
    </div>

    <div class="{{$class}}__buttons">
        @for ($recipe of filteredRecipes(); track $recipe.id) {
            <button type="button" [routerLink]="'/recipes/' + $recipe.id">
                @if ($recipe.isFavorite) {★}
                {{$recipe.name}}
            </button>
        }
        <button type="button" [routerLink]="'/recipes/add'">
            ✚ Add new recipe
        </button>
    </div>

    <router-outlet />
}
