@if (!ready()) {
    <span class="recipe__loading">
        Loading recipe list...
    </span>
} @else {
    <div class="{{$class}}__search">
        <input type="text"
            [(ngModel)]="searchTerm"
            placeholder="Search"
        />
    </div>

    <div class="{{$class}}__buttons">
        @for ($recipe of filteredRecipes(); track $recipe.id) {
            <button type="button" [routerLink]="[$recipe.id]">
                @if ($recipe.isFavorite) {★}
                {{$recipe.name}}
            </button>
        }
    </div>

    <router-outlet />
}
