html {
    font: 10px/1.5 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-size: 10px; */
}

body {
    /* line-height: 1.5; */
    margin: 0;
    box-sizing: content-box;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}

input,
textarea {
    font: 1.5rem/1.2 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
