.recipe {
    display: flex;
    flex-flow: column;
    gap: 10px;
    font-size: 1.6rem;
}

.recipe__title {
    font-size: 2.5rem;
}

.recipe__image {
    display: block;
    border: solid 1px #4448;
    border-radius: 3px;
    width: fit-content;
    min-width: 300px;
    min-height: 200px;
    padding: 3px;
}

.recipe__servings {
    display: flex;
    gap: 10px;
}

.ingredient {
    display: grid;
    width: fit-content;
    grid-template-columns: 1fr 1fr;
}

.ingredient__name:after {
    content: ':';
}
